<p>parent works!</p>
    <h2> {{ChildStrdata}} </h2>

    <table border="1px">
        <thead>
            <th>Sr no</th>
            <th>Product Name</th>
            <th>Product Price</th>
            <th>Quantity</th>
        </thead>
        <tbody>
            <tr *ngFor="let item of childArrObj;index as i">
                <td> {{i+1}} </td>
                <td> {{item.name}} </td>
                <td> {{item.price}} </td>
                <td> {{item.qty}} </td>
            </tr>
        </tbody>
    </table> <br><br>

    <h2> Id :: {{childjsonObj.id}} </h2>
    <h2>First Name :: {{childjsonObj.fname}} </h2>
    <h2> last Name :: {{childjsonObj.lname}} </h2>

    <h2> Person Fname :: {{personChildData.fname}} </h2>
    <h2>Person Lname :: {{personChildData.lname}} </h2>
    <h2>Person Salary :: {{personChildData.salary}} </h2>

<hr>
<!-- <input #inputMsg type="text" placeholder="Enter the Message"><br><br>
<button (click)="onSend(inputMsg.value)">Send</button>
<hr>
<app-child1 [ParentStrData]="strdata" 
            [PrentJsonData]="jsonData"
            [ParentMsgData]="msgdata">
</app-child1> -->

<app-child2 (childStrEvent)="ChildStrdata=$event" 
            (ChildArrObjEvent)="childArrObj=$event"
            (ChildJsonObjEvent)="childjsonObj=$event"
            (PersonJsonEvent)="personChildData=$event"
></app-child2>