<p>post works!</p>

<label for="">Title:: </label>
<input #mytitle type="text" placeholder="Enter the title"><br><br>
<label for="">Body:: </label>
<input #mybody type="text" placeholder="Enter the Body"><br><br>
<button (click)="onSend(mytitle.value,mybody.value)">Send</button>

<hr>
<table>
    <thead>
        <th>ID</th>
        <th>Title</th>
        <th>Body</th>
    </thead>
    <tbody>
        <tr *ngFor="let item of posts">
            <td> {{item.id}} </td>
            <td> {{item.title}} </td>
            <td> {{item.body}} </td>
        </tr>
    </tbody>
</table>